@import '../../style/_variables.scss';

//keyframes

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}








.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  font-family: $fontBODY;

}

.works {
  flex: 1;
  max-width: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 6px 35px;

  p {

    font-size: 1.6em;
    line-height: 1.7em;
    color: 000;
  }


}

//thumbnails

.thumbnails {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  border-radius: 5px 35px;
  align-items: center;
  justify-content: center;
}

.thumbnails_item, .thumbnails_item--art {
  flex: 1 0 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  height: 500px;
  min-width: 350px;
  max-width: 56%;
}









.thumbnails__column {

  width: 100%;
  height: 100%;
  position: relative;
  color: #171e42;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  border-radius: 2px;
  overflow: hidden;

}

.aquaria {
  background-image:url('../../shared/img/aquaria.png')
}




.personalize {
  background-image:url('../../shared/img/personalize.png')



  }

  .guitar {
    background-image: url('../../shared/img/guitar.png')
  }

  .chess {
    background-image: url('../../shared/img/chess.png')
  }

  .weather {
    background-image: url('../../shared/img/weather.png')
  }

  .vietnam {
    background-image: url('../../shared/img/vietnam.png')
  }

  .nekosan {
    background-image: url('../../shared/img/nekosan.png')
  }

  .instagram {
    background-image: url('../../shared/img/instagram.png')
  }

  .voting {
    background-image: url('../../shared/img/voting.png')
  }
  .icons {
    background-image: url('../../shared/img/icons.png')
  }
  .kyiv {
    background-image: url('../../shared/img/kyiv.png')
  }
  .todo {
    background-image: url('../../shared/img/todo.png')
  }
  .asian {
    background-image: url('../../shared/img/asian.jpg')
  }
  .photoshare {
    background-image: url('../../shared/img/photoshare.png')
  }
  .shop {
    background-image: url('../../shared/img/shop.png')
  }
  .conference {
    background-image: url('../../shared/img/conference.png')
  }



.thumbnails__description {
    display: none;
    height: 0;
    max-height: 50%;
    transition: all .1s ease;
    padding-left: 15px;
    max-width: 70%;


    position: relative;

  h2 {
    display: inline-block;
    margin: 3% 0 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.2em;
  }
  a {
    color: #000;
  }

  .thumbnails__description__result {
    padding: .8em;
    display: inline-block;
    margin-top: 4%;
    border: 2px solid black;
    letter-spacing: .1em;
    font-weight: 600;
    font-size: $text-middle;
    text-transform: uppercase;
    font-family: $fontINTRO;
    transition: all .2s cubic-bezier(.65,.37,.53,.68);


    &:hover {
      background-color: #212323;
      color: #0bffff;
    }
  }
}



.thumbnails__column--slide {
  position: absolute;
  padding: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 80, 200, 0.3);
	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, .5, 1);

  h3 {
    position: absolute;
    display: inline-block;
    font-size: 1.5em;
    font-family: $fontINTRO;
    opacity: 1;
    right: 0;
    top: 0;
    margin: 0;
    background-color: rgba(255,255,255, 1);
    padding: 12px 10px;
    border-bottom-left-radius: 8px;
  }

  p {
    position: absolute;
    width: 100%;
    right: -100%;
    transition: all .2s cubic-bezier(0, 1, .5, 1) .1s;
    font-size: $text-middle;
    bottom: 50px;
    text-align: center;
    background-color: #fff;
    padding: 15px 0;
    letter-spacing: .1em;

  }

}
  .thumbnails_item, .thumbnails_item--art {

    &:hover > div > div {
        opacity: 1;
      p {
        right: 0;
      }
      }



  }


  .lightbox {
      opacity: 1;
      position: fixed;
      z-index: 9999;
      width: 100%;
      height: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      background-color: rgba(0, 0, 0, .5);
      color:#333333;
      transition: opacity .5s ease-in-out;



    }




  .lightbox__box {
      padding: 10px;
      height: 95%;
      max-width: 1300px;



      img {
        display: block;
        box-shadow: 0px 4px 26px 0 rgba(255,255,255, .5);
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }



      }



  .lightbox__box__content {
      height: 100%;
      width: 100%;
      text-align: center;


  }

  .lightbox .close {
      position: absolute;
      top: 2px;
      right: 10px;
      display: inline-block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:4em;
      color: #fff;

      &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }






.content__filter {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 40px auto;
  justify-content: space-around;

  div {
    flex: 1 0 auto;
    padding: 20px 0;
    margin: 5px;
    min-width: 80px;
    max-width: 20%;
    border: 2px solid #000;
    text-align: center;
    box-shadow: 12px 12px 0px 0 #000;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px #000 !important;
    }
  }
}





  @media all and (max-width: 550px) {
    .thumbnails_item, .thumbnails_item--art {
      max-height: 300px;
      flex: 1 0 auto;
      min-width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }
    .thumbnails__column {
      min-width: 300px;
      max-height: 300px;
      max-width: 70%;

    }

    .thumbnails__column--slide {
      opacity: 1 !important;
      background-color: rgba(40, 128, 185, 0.3);
      p {
        right: 0;
        bottom: 0;
      }
    }
  }
