$fontNAV:  'Fjalla One', sans-serif;
$fontBODY: 'PT Sans Narrow', sans-serif;
$fontINTRO: 'Gloria Hallelujah', cursive;
$text-middle: 1.2em;
$text-large: 1.5em;
$text-huge: 2.5em;
$text-citation: 2em;
$dev-width: 1500px;
$about-width: 1200px;
