@import '../../style/_variables.scss';

//***********KEYFRAMES***********

@keyframes shake {
    0%, 50%, 100% {
      transform: translateX(0px);
    }

    25% {
      transform: translateX(4px);
    }

    75% {
      transform: translateX(-4px);
    }

  }

//*******************************

//shared text style
.title {
  display: inline-block;
  font-family: $fontINTRO;
  letter-spacing: 0.2em;
  font-size: $text-large;
  color: #000;
  padding-top: 20px;
  width: 100%;
  margin-left: 5px;
}

//main display
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  background-color: #fefdff;



  .main__leftcolumn {
		display: flex;
    min-width: 60%;
		align-items:flex-end;
		justify-content: flex-end;
    background-color: rgb(31, 38, 59);

  }

  .main__leftcolumn__logo {
    height: 40%;
    width: 500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;

  }


  .main__rightcolumn {
    display: flex;
    flex-flow: column;

    max-width: 1200px;
    display: flex;
    padding-left: 30px;
    align-items: flex-start;
    justify-content: center;

    > *:not(:last-child) {
      flex: 1;
      max-width: 500px;
      max-height: 30px;
      margin-bottom: 55px;
      @extend .title;
      text-align: center;

    }
    .main__rightcolumn__welcome, .main__rightcolumn__follow {
      font-size: 1.3em;
    }
  }
}
//components

    .main__rightcolumn__enter {
      text-align: center;
      width: 100%;
      display: inline-block;
      padding: 0;
      height: auto;
      margin-top: 30px;

          a {
            cursor: pointer;
            padding-top: 15px;
            color: #000;
            display: inline-block;
            animation: shake 1.5s linear both;
            transform: translateX(0);
            animation-iteration-count: infinite;
          }


          a:hover {
            animation-play-state: paused;
          }
    }






@media all and (max-width: 950px) {
  body {
    font-size: 70%;
  }
  .main {
    flex-direction: column;
    height: 100%;

    .main__leftcolumn, .main__rightcolumn {
      width: 100%;
      max-width: 100%;
      height: 50vh;
    }

    .main__rightcolumn {
      padding-top: 10px;
      line-height: 2em;
      align-items: center;
      justify-content:flex-start;

       * {
        padding: 2px;
        margin: 0;
        max-height: 20%;
        align-self: center;

      }
    }
  }
}
